<br>
<div class="card text-center" style="width: 400px;">
    <div class="card-header">
        <h5 class="card-title">Lichess Cyborg</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="token">Token (optional)</label>
                <input type="text" class="form-control" id="token" formControlName="token" />
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label" for="white">
                            White
                        </label>
                        &nbsp;
                        <input class="form-check-input" type="radio" id="white" formControlName="isWhite" value="true">
                    </div>
                    <div class="col">
                        <label class="form-check-label" for="black">
                            Black
                        </label>
                        &nbsp;
                        <input class="form-check-input" type="radio" id="black" formControlName="isWhite" value="false">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="lichessUrl">Game URL</label>
                <input type="text" class="form-control" id="lichessUrl" formControlName="lichessUrl" />
            </div>
            <br>
            <div class="form-group d-flex justify-content-center">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                            Start
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" (click)="onStop()" [disabled]="!isStarted">
                            Stop
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>